:root {
    --specialCyan: #72A0B0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background: url("/assets/backgroundwp.jpg") center/cover no-repeat;
}

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39, 39, 39, 0.6), transparent);
    z-index: 100;

    .nav-logo p {
        color: white;
        font-size: 25px;
        font-weight: 600;
        cursor: pointer;
    }

    .nav-menu ul {
        display: flex;

        li .link {
            font-weight: 500;
            color: #fff;
            padding-bottom: 15px;
            margin: 0 25px;
        }
    }

    .nav-menu-btn {
        display: none;
    }

    .nav-menu ul li .link {
        position: relative;
        font-weight: 500;
        color: #fff;
        padding-bottom: 15px;
        margin: 0 25px;     
    }
    
    .nav-menu ul li .link::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: #fff;
        transition: all 0.3s ease;
        transform: translateX(-50%);
    }
    
    .nav-menu ul li .link:hover::after {
        width: 100%;
    }
}


.super-container {
    width: 850px;
    height: 550px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px black;

    .left-container {
        width: 50%;
        height: 100%;
        background-color: var(--specialCyan);
        border-radius: 25px 150px 150px 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1 {
            font: bold 2.3em 'Playwrite VN', sans-serif;
            color: #fff;
            margin: 20px auto;
        }

        p {
            font: normal 1em 'Helvetica', sans-serif;
            text-align: center;
            width: 85%;
            color: #fff;
        }
    }

    .right-container {
        width: 50%;
    }

}


.right-container {
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    position: relative;

    h1 {
        font-size: 24px;
        text-align: center;
        color: #333;
        margin-bottom: 20px;
    }

    .form-container {
        position: relative;

        .inputBox {
            position: relative;
        }


        input {
            width: 100%;
            padding: 10px 40px 10px 15px;
            border: 2px solid #ddd;
            border-radius: 5px;
            font-size: 14px;
            transition: border 0.3s ease;
            margin: 15px auto;
        }

        input:focus {
            border: 2px solid var(--specialCyan);
            outline: none;
        }

        i {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: #aaa;
            font-size: 16px;
            pointer-events: none;
        }

        span {
            position: absolute;
            top: -25px;
            left: 0;
            font-size: 12px;
            color: red;
        }
    }

    #signInButton, #signUpButton {
        width: 100%;
        padding: 10px;
        background: var(--specialCyan);
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background 0.3s ease;
    }

    #signInButton:hover, #signUpButton:hover {
        background: #5b7b85;
    }

    #forgotPassword {
        color: #007bff;
        transition: .3s ease-in-out;
    }

    #forgotPassword:hover {
        text-decoration: underline;
    }

    p {
        display: block;
        text-align: center;
        font-size: 14px;
        color: #666;
        margin-top: 10px;

        a {
            color: #007bff;
            transition: .3s ease-in-out;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}

.form-container {
    display: none;
}

.form-container.active {
    display: block;
}
